html, body {
    color: #FFF !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: auto;
    min-height: 1050px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    width: 100%;
}

.flex-center {
    align-items: center;
    display: grid;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    /*font-size: 84px;*/
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#background-img{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -999;
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}

input.transparent-input,
input.transparent-input:active{
   background-color:transparent !important;
   border:none !important;
   border-bottom: 1px solid #fff !important;
   font-size: 35px;
   outline: none;
   caret-color: #fff;
   color: #fff;
   width: 100%;
   padding-left: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.search_bar{
    position: relative;
}

.auto_suggested_places{
    position: absolute;
    z-index: 999;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.auto_suggested_places p{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 0;
}

.auto_suggested_places p:hover{
  background: rgba(213, 78, 133, 0.5);
}

.auto_suggested_places p a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#recommendations_container{
  margin-top: 25px;
}

.place_description{
  padding-bottom: 20px;
}

.place_description h4{
  font-size: 50px !important;
}

#map{
  height: 500px;
}

.slogan_1{
  color: #fff;
}

.slogan_2{
  color: #BC002D;
}

.slogan_3{
  color: #efebd6;
}

hr{
  border: 1px solid #fff;
}

.tagline h3{
  text-align: center;
  letter-spacing: 1px;
}

.page-link{
  color: #fff!important;
  /*pointer-events: none;*/
  cursor: pointer;
  background-color: rgba(255,255,255,0.3)!important;
  border-color: #fff;
  border: none!important;
}

.active .page-link,
.page-link:hover{
  background-color: rgba(0,0,0,0.7)!important;
}

@media(max-width: 768px)
{
  .display-1{
    font-size: 3rem !important;
  }

  input.transparent-input,
  input.transparent-input:active{
    font-size: 15px;
  }
}
